.main{
  border: 1px solid lightgray;
  padding: 15px 15px;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 12px 29px;
  height: 5%;
}

th {
  text-align: center;
  padding: 10px;
  color: #fff;
  background-color: #fff;
  border: 2px solid #000;
  background-color: #404040;
}

td {
  padding: 10px;
  color: #000;
  background-color: #fff;
  border: 3px solid #000;
}

tr {
  background-color: #fff;
}

.row {
    margin-left: 10em;
    margin-right: auto;
    width: 50em;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#webTxt {
  margin-left: auto;
    margin-right: auto;
    background-color: #343435;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button {
  margin-left: auto;
  margin-right: auto;
  background-color: #343435;
  border: 1px solid #fff;
  color: white;
  padding: 12px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor:pointer;
  transition: all 0.3s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: '\002B';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

::placeholder {
  color: #fff;
}

#footer {
  margin-top: 5.85em;
  text-align: center;
  color: #000;
}

.btn-outline-secondary{
  float: right;
  border: #fff;
}

.btn-outline-secondary:hover {
  background-color: red;
}